<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductComparison</servlet-name>
        <servlet-class>aspect.servlet.ProductSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recommendation</servlet-name>
        <servlet-class>aspect.servlet.Recommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>aspect.servlet.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comparison</servlet-name>
        <servlet-class>aspect.servlet.Comparison</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductComparison</servlet-name>
        <url-pattern>/comparison</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recommendation</servlet-name>
        <url-pattern>/recommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comparison</servlet-name>
        <url-pattern>/pcomparison</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
