<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductSearch</servlet-name>
        <servlet-class>aspect.controller.ProductSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recommendation</servlet-name>
        <servlet-class>aspect.controller.Recommendation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductSearch</servlet-name>
        <url-pattern>/productsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recommendation</servlet-name>
        <url-pattern>/recommendation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
