/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2015, 3:06:22 PM
    Author     : eneye380
*/

body {
    
    padding-top: 70px;
}

footer {
    
   
}

.label_2{
    font-weight: bold;
}
table.table_1{
    //border: 1px solid black;
    //table-layout: fixed;
    width: 2000px;
}

table.table_1 th{
     
    //border: 1px solid black;
    overflow: hidden;
    width: 300px;
}
table.table_1 td{
     
    //border: 1px solid black;
    overflow: hidden;
    width: 300px;
}
    
